body nav div ul li a {
	display: flex;
	color: grey;
	text-decoration: none;
}

body nav div ul li a:hover {
	color: black;
	background-color: none;
}

body {
	background-image: url();
	background-size: cover;
}

nav div{
	border-bottom: 1px black solid;
	background-color: white;
}

nav div div {
	border-bottom: none;
}
