body nav div ul li a {
	display: flex;
	color: grey;
	text-decoration: none;
}

body nav div ul li a:hover {
	color: black;
	background-color: none;
}

body {
	background-image: url(Images/Home_Bckgrnd_Fotor_v2.jpg);
	background-size: cover;
}

nav div{
	border-bottom: 1px black solid;
	background-color: white;
}

nav div div {
	border-bottom: none;
}

#homeInfo {
	margin-right:auto; 
	margin-left:auto;
	position: relative;		
	width:960px;	
	border-radius: 10px;
	padding: 10px;
	font-size: 0; 
}